<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title>News</ion-title>
  
  <div class="title-toolbar-spacer"></div>
  
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" color="light">
      <ion-segment-button value="news">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>News</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="emergency">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>Emergency</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="logout">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="loader-overlay" id="loader-overlay">
    <div id="loader" class="loader"></div>
  </div>

  <div class="mainPageSection">
    <div class="container">
      <div class="row mt-5 w-100 infoRow" id="infoRow">
        <!-- News articles will be dynamically populated here -->
      </div>
    </div>
  </div>

  <div class="sos-button" (click)="activateSOS()">
    <ion-icon name="warning-outline"></ion-icon>
    <span>SOS</span>
  </div>
</ion-content>