

<ion-content class="register-content ion-padding">
  <div class="register-container">
    <div class="form-container">
      <h1 class="title">
        <ion-icon name="eye-outline" class="title-icon"></ion-icon>
        Local Community Eye
      </h1>
      
      <form (ngSubmit)="signUp()" class="form">
        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="user.username" name="username" placeholder="Enter your Username" required></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" placeholder="Enter your full name" required></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" placeholder="Enter your email" required></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Cell Number</ion-label>
          <ion-input type="tel" [(ngModel)]="user.phone" name="phone" placeholder="Enter your Cell number" required></ion-input>
          <ion-icon name="call-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Enter your password" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirm your password" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Address</ion-label>
          <ion-textarea [(ngModel)]="user.address" name="address" placeholder="Enter your address" rows="4" required></ion-textarea>
        </ion-item>

        <ion-button expand="block" class="sign-btn" type="submit">Sign Up</ion-button>
      </form>
    </div>

    <div class="divider-container">
      <div class="divider-line"></div>
      <p class="divider-text">Already have an account?</p>
      <div class="divider-line"></div>
    </div>

    <div class="login-link-container">
      <span>Go to login with your account</span>
      <a routerLink="/login" class="login-link">
        Log-in
        <ion-icon name="log-in-outline"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>
